* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body {
    font-family: 'Roboto', sans-serif;
 }

 
.menu-container {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.418);
    height:10vh;
    position: fixed;
    padding-left: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
 }

.menu-mid {
   
  
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    }
.plus { 
    background-color: rgb(255, 255, 255);
    padding: 4px 8px 4px 8px;
    font-size: 25px;
    color: black;
    position: relative;
    text-decoration: none;
    top:-5px;
   

       
}


.new-playlist {
    display: flex;
    gap: 5px;
       
   }


 .white-button {
    width: 88%;
    padding: 8px 4px 8px 4px;
    display: flex;
    justify-content: center;
    border-radius: 13px;
    color: white;
    border: 1px solid #d7d7da;
    font-size: .8rem;
    margin-right: 75px;}

.line-style2 {
    color: white;
    text-decoration: none;
}

.menu {
    height: 100vh;
    width: 100vw;
}
 .container1{
    width: 100vw;
    height: 100vh;
    background-color:#141922;
    flex-direction: column;
    display: flex;
    color:white;
 }

.footer-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10%;
    position: relative;
    top: 153px;
    gap: 20px;


}
.account {
    display: flex;
    gap: 20px;



}
.download {
    display: flex;



}
.line-style3 {
    color: #d7d7da;
    text-decoration: none;
    border-bottom: 1px solid #d7d7da;
    padding-bottom: 20px;
    width: 100%;

}
.spotify-desktop {
    height: 90vh;
    width: 100vw;
    padding-left: 16%;
    padding-top: 10vh;
    overflow-y: scroll;
    font-size: 2rem;
    padding-right: 20px;

}

.playlist-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 3rem;
}
nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
}
nav li {
	padding: 1rem 1.5rem;
	position: relative;
    font-size: 1rem;
}

.line-style {
    color: gray;
    text-decoration: none;
    font-size: 1rem;
}

.spotify-bar {
    height: 10vh;
    width: 100vw;
    background-color:#282828;
    z-index: 2;
    display: flex;
    flex-direction: row;
}

.bar-left {
    width: 25%;
    height: 100%;
    display: flex;}

.bar-center {
    width: 50%;
    height: 100%;
    }



.bar-top {
    width: 100%;
    height: 50%;

    
}
.bar-bottom {
    width: 100%;
    height: 50%;}


.bar-btn {
width: 30%;
height: 100%;
margin: auto;
display: flex;
color: white;
gap: 30px;
font-size: 20px;
align-items: center;
justify-content: center;}



.btn-big {
font-size: 30px;}








.bar-right {
    width: 25%;
    height: 100%;
    display: flex;}

.bar-image-container {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;}


.bar-image {
    width: 80%;
    height: 57%;
    padding-right: 5px;}




.artist-name { 
    width: 33%;
    height: 100%;
    padding-top: 25px;}


.gray-min2  {
    color: gray;
    font-size: 12px;
} 


.icons-left {
    width: 52%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
align-items: center;
gap: 10px;}








 .container2{
    width: 15vw;
    height: 100vh;
    position: relative;
    background-color: black;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: -100vh;
    color: white;
    
 }
.gray  {
    color: gray;
}
.white  {
    color: white;
}

.gray-min  {
    color: gray;
    font-size: 15px;
} 


.line-style:hover  {
    color: white;
} 

.box-container {
    width: 80%;
    height: 100%;
    margin: auto;
    
}

.img1 {
    width: 64%;
    height: 17%;
    position: relative;
    top: -4%;   
    color: white;
    
    
    
    
}


.logo-title {
    position: relative;
    top: -15%;
    left:33%;
    font-size: 2rem;
}
.icon{
    width: 30px;
    height: 30px;
    position: relative;
    top: -3.5rem;
}
.icon-space {
    display: flex;
    gap: .5rem;

}

.icon-name{
    position: relative;
    top: -3rem;
}

{}
{}


.grid {
	--cols: 2;
	--gap: 1rem;
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap);
}

.card	{
	height: 220px;
    
	flex: 0 0 calc((100% - (var(--cols) - 1) * var(--gap)) / var(--cols));
}


.card:hover {
    opacity: 50%;
  }
.card2	{
	height: 220px;
    
	flex: 0 0 calc((100% - (var(--cols) - 1) * var(--gap)) / var(--cols));
    border-radius: 50%;
}

.card2:hover {
    background-color: #b4d0e7;
  }

.song-background {
    width: 100%;
    height: 100%;
}
.circle {
    border-radius: 50%;
}


@media (min-width: 700px) {
	.grid {
		--cols: 4;
	}	
}

@media (min-width: 1100px) {
	.grid {
		--cols: 6;
	}
}
